#! /bin/bash
#Removing "" around passed attributes.
#Required due to start stop dameon
#Improvement: Directly load model information into the script using ansible
gatherer={{ folder }}/../gatherer_$1/gatheredData.txt
cleanup=$(echo $2 | sed -e 's/^"//' -e 's/"$//')
pre=$(echo $3 | sed -e 's/^"//' -e 's/"$//')
post=$(echo $4| sed -e 's/^"//' -e 's/"$//')
sequence=$5
slept=0
send=$(python -c "print $sequence*1")

if [  -f {{ folder }}/processedData.txt ]; then
    echo "Removing previous processed data"
    rm {{ folder }}/processedData.txt
fi

echo "Starting processing script"
echo "Processing data from $gatherer, cleaning up with $cleanup, preprocess with $pre, postprocess with $post, every $sequence seconds!"

while true; do
    tail -n 1 "$gatherer" | while read line 
    do 
      sleep 1
      echo "Raw: $line"
      echo ""
      cleanprocess=$(echo "echo \"${line@Q} $cleanup\"")
      echo "CleanProcess: $cleanprocess"
      cleaned=$(eval "$cleanprocess")
      echo ""
      echo "Cleaned: $cleaned"
      preprocess=$(echo "echo $cleaned $pre")
      preprocessed=$(eval "$preprocess")
      echo "Preproccesed: $preprocessed"

      sleep $sequence
      slept=$(($slept+$sequence))
      if [ "$slept" = $send ]; then
         postprocess=$(echo "echo \"${preprocessed@Q} $post\"")
         postprocessed=$(eval "$postprocess")
         echo "Postprocessed: $postprocessed"
         echo $postprocessed >> {{ folder }}/processedData.txt
         slept=0
         mid=0
      fi
    done
done





