#! /bin/bash

endpoint=$1
propresource=$2
propname=$3
sensor=$4
propid=$5
monfile={{ folder }}/../processor_$6/processedData.txt
sequence=$7
prefix=$(echo $8| sed -e 's/^"//' -e 's/"$//')
suffix=$(echo $9| sed -e 's/^"//' -e 's/"$//')
ident=$(echo ${10}| sed -e 's/^"//' -e 's/"$//')

echo "Endpoint: $endpoint" >> {{ folder }}/log
echo "Resource: $propresource" >> {{ folder }}/log
echo "Name: $propname" >> {{ folder }}/log

if [ ! -f $monfile ]; then
    echo "Did not find file for monitoring: $monfile" >> {{ folder }}/log
    sleep 10
fi

echo "Starting publishing script" >> {{ folder }}/log
echo "Checking $monfile every $sequence seconds!" >> {{ folder }}/log


while true; do
    val=$(tail -1 $monfile)
    echo "Publishing new results" >> {{ folder }}/log
    body=$(echo "\"sensor: $sensor, monitorableproperty: $propid, target: $propresource, property: $propname, result: $val\"")
    request=$(echo $prefix$body$suffix)
    echo $request > {{ folder }}/request
    echo "$request" >> {{ folder }}/log
    curl $ident -H "content-type:application/json" -X POST -d @{{ folder }}/request "$endpoint" >> {{ folder }}/log
    sleep $sequence
done
