#! /bin/bash

sequence=$5
address=$1
port=$2
dbname=$3
mongoeval=$(echo $4| sed -e 's/^"//' -e 's/"$//')

if [ -f {{ folder }}/gatheredData.txt ]; then
    echo "Removing previous monitoring data" >> {{ folder }}/log
    rm {{ folder }}/gatheredData.txt
fi


while true; do
    raw=$(mongo $address:$port/$dbname --eval $mongoeval --quiet)
    echo "Gathered data: $raw" >> {{ folder }}/log
    echo $raw >> {{ folder }}/gatheredData.txt
    sleep $sequence
done
