#! /bin/bash

endpoint=$1
propresource=$2
propname=$3
sensor=$4
propid=$5
monfile={{ folder }}/../processor_$6/processedData.txt
sequence=$7

echo "Endpoint: $endpoint"
echo "Resource: $propresource"
echo "Name: $propname"

if [ ! -f $monfile ]; then
    echo "Did not find file for monitoring: $monfile"
    sleep 10
fi

echo "Starting publishing script"
echo "Checking $monfile every $sequence seconds!"


while true; do
    val=$(tail -1 $monfile)
    echo "$val"
    echo "Publishing new results"
    curl -v -X PUT http://"$endpoint""$propid" -H 'Content-Type: text/occi'  -H 'Category: monitorableproperty; scheme="http://schemas.ugoe.cs.rwm/monitoring#"; class="kind"'  -H 'X-OCCI-Attribute:occi.core.source="'$sensor'",occi.core.target="'$propresource'", occi.core.title="monProp", monitoring.result="'$val'", monitoring.property="'$propname'"' 
    sleep $sequence
done

