#! /bin/bash
#Removing "" around passed attributes.
#Required due to start stop dameon
#Improvement: Directly load model information into the script using ansible
gatherer={{ folder }}/../gatherer_$1/gatheredData.txt
cleanup=$(echo $2 | sed -e 's/^"//' -e 's/"$//')
pre=$(echo $3 | sed -e 's/^"//' -e 's/"$//')
post=$(echo $4| sed -e 's/^"//' -e 's/"$//')
frame=$5
sequence=$6
slept=0
send=$(python -c "print $sequence*$frame")

if [  -f {{ folder }}/processedData.txt ]; then
    echo "Removing previous processed data"
    rm {{ folder }}/processedData.txt
fi

echo "Starting processing script"
echo "Processing data from $gatherer, cleaning up with $cleanup, preprocess with $pre, postprocess with $post, using the last $frame datapoints, every $sequence seconds!"

while true; do
    tail -n $frame "$gatherer" | while read line 
    do 
      sleep 1
      echo "Raw: $line"
      cleanprocess=$(echo "echo $line $cleanup")
      echo "CleanProcess: $cleanprocess"
      cleaned=$(eval "$cleanprocess")
      echo "Cleaned: $cleaned"
      preprocess=$(echo "echo $cleaned $pre")
      preprocessed=$(eval "$preprocess")
      echo "Preproccesed: $preprocessed"
      sum=$(python -c "print $sum+$cleaned")

      sleep $sequence
      slept=$(($slept+$sequence))
      if [ "$slept" = $send ]; then
         mid=$(python -c "print $sum/$frame")
         postprocess=$(echo "echo $mid $post")
         postprocessed=$(eval "$postprocess")
         echo "Postprocessed: $postprocessed"
         echo $postprocessed >> {{ folder }}/processedData.txt
         slept=0
         sumCpu=0
         mid=0
      fi
    done
done





