#! /bin/bash

sequence=$6
endpoint=$(echo $4 | sed -e 's/^"//' -e 's/"$//')
address=$2
service=$1
port=$3
protocol=$5

if [ -f {{ folder }}/gatheredData.txt ]; then
    echo "Removing previous monitoring data"
    rm {{ folder }}/gatheredData.txt
fi

echo "Starting monitoring script"
echo "Requesting with service $service at endpoint $endpoint with query $query every $sequence seconds!"


while true; do
    raw=$($service $protocol://$address:$port$endpoint)
    echo "Gathered data: $raw"
    echo $raw >> {{ folder }}/gatheredData.txt
    sleep $sequence
done
